data-extractor-loader/instructions.json
*.iml
data-admin/node_modules
data-extractor-loader/node_modules
data-admin/bower_components
.idea
data-admin/.tmp
data-admin/report
data-management/node_modules
data-listener/node_modules
data-listener/config/*.json